Andrew McConachie feedback...

This feedback from @smutt is off of an older version of the draft before restructuring, so it might be hard to figure out exactly what section in the current draft the feedback pertains to (and part of me thinks we may have already done this in 2016, but let's be sure to check!).

> Hi Joe,
> 
> I took a look at this draft. I intended to provide feedback related to
> section 4.4, but then I found some other stuff as well. I'm not on the
> ML so I apologize if some of this has already been said.
> 
> Section 4.4
> 1) Please use the correct example domain names and IP addresses. This
> means the example domain names outlined in RFC 2606, and the example IP
> addresses outlined in RFC 3330, RFC 5737 and RFC 3849. For example, you
> could use censored.example and uncensored.example.
> 
> 2) I'm confused by the term "Chinese network". Is there only one network
> in China? Maybe identify it more with the Chinese government, or call it
> the Internet in China.
> 
> 3) Possibly interesting. Some ISPs are redirecting 8.8.8.8 to their own
> DNS recursive resolvers. I think I had mentioned this earlier to you at
> lunch.
> https://labs.ripe.net/Members/babak_farrokhi/operator-level-dns-redirection
> 
> 4) You should probably mention how DNSSEC helps defeat some of these
> interferences. Cache-poisoning, DNS-lying, DNS-mangling, etc. Just a
> single sentence like, "The above mechanisms rely on DNSSEC not being
> deployed, or DNSSEC validation not being active on the client or
> recursive resolver." You should differentiate between mechanisms that
> DNSSEC protects against, and those that it does not.
> 
> Section 6.2
> 5) A TLD cannot deregister as it's just a DNS label. I'm not sure what
> is being said here. Is this about an SLD(second level domain) being
> allocated to another registrant? Or is this about an SLD being freed and
> then future registrants blocked from registering?

Tried to address these. 
1. Replaced "www.ietf.org" with "www.uncensored.example" per suggestion and RFC 2606
replaced "www.facebook.com" with "www.censored.example" per suggestion and RFC 2606
replaced 113.113.113.113 with 192.0.0.2 (per RFC 5737)
DID NOT REPLACE IP address "37.61.54.158"

2. Tried to address the confusion about "Chinese network" by making the reference plural ("some networks in China")

3.Defer to Joe Hall on including this instance of observed DNS redirects.

4. Added sentence per suggestion above at the end of  the "Tradeoffs" portion of 4.1.1.

Hi Stan,

Thanks for taking the time to address these. 

My general concern is that by calling out specific network operators by either using their domain names or IP addresses could direct attention away from the generalized problem and more towards the party in question. 37.61.54.158 is currently routed by an ISP in Azerbaijan. 

Check the IANA registry for IP addresses to use in documentation.
<https://www.iana.org/assignments/iana-ipv4-special-registry/iana-ipv4-special-registry.xhtml>

Later on in the "Trade-offs" section the document states this.
"the above mechanisms rely on DNSSEC not being deployed or DNSSEC validation not being active on the client or recursive resolver."

If the query that gets mangled is sent from a stub to a recursive resolver deploying DNSSEC validation on the recursive resolver won't help. Maybe change the sentence to, "the above mechanisms rely on DNSSEC not being deployed or DNSSEC validation not being active on the querier."

The main difference between DNS Mangling and DNS Lying to be that DNS Mangling is on path, while DNS Lying is the queried server answering with a lie. I recommend making this distinction more explicit in the text.

Thanks again,
Andrew

Thanks, Andrew

Will replace the remaining IP address with one from the reserved block for documentation.

As for the DNSSEC sections, will confer with Joe to address your suggestions.

Thanks for your feedback!

Stan

Heya guys, I'm not sure where this ended up. It seems like most of these are dealt with... @smutt do you want to review a new draft (either way, going to submit an update before next Monday's draft deadlie)

Sure. I'd love to review a new draft.

Here you go! https://datatracker.ietf.org/doc/draft-irtf-pearg-censorship/

I think we can close this issue now. I created a new one with feedback on draft-irtf-pearg-censorship-01